*,
*::before,
*::after {
    box-sizing: border-box;
}

body, html {
    overflow-x: hidden;
}

.main-category {
    display: flex;
}


.group-filters{
    height: fit-content;
    padding-bottom: 20px;
}

.carrusel{
    margin: 20px 60px 10px 60px;
}

:where(.css-dev-only-do-not-override-1uq9j6g).ant-carousel .slick-dots li button {
    background-color: black;
    margin-top: 30px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    padding: 5px;
    border: 1px double #000;
}

:where(.css-dev-only-do-not-override-1uq9j6g).ant-carousel .slick-dots li.slick-active button{
    background-color: black;
    margin-top: 30px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    border: 2px solid #000;
}

.group-products {
    width: 60%;
}

.search {
    margin: auto;
    width: 37% ;
    margin-left: 45px;
    margin-top: 25px;
}

.list-of-products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 16px;
    padding: 0;
    margin-left: 12px;
  }

.item-product {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 5px;
    position: relative;
}

.name-product{
    font-weight: bold;
}

.name-price-week{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.details-product{
    display: flex;
    position: relative;
}

.floating-button {
    position: absolute;
    bottom: 180px; 
    left: 30px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.favorite{
    position: absolute;
    top: -20px;
    right: 15px;
    left: 250px;
    color: #7D879C;
    z-index: 1000;
    font-size: 20px;
}

  :where(.css-dev-only-do-not-override-1uq9j6g).ant-float-btn-default .ant-float-btn-body{
    background-color: #c033b9;
}

:where(.css-dev-only-do-not-override-1uq9j6g).ant-float-btn-default .ant-float-btn-body .ant-float-btn-content .ant-float-btn-icon{
    color: white;
    font-size: 22px;
    margin-right: 20px
}

:where(.css-dev-only-do-not-override-1uq9j6g).ant-card-hoverable{
    width: 300px;
}

.price-desc{
    font-size: 12px;
}

.price-final{
    margin-top: -7px;
    color: #0047BB;
}

.price-want{
    display: flex;
    flex-direction: column;
    align-items: end;
    position: absolute;
    right: 0px
}

.price-total{
    margin-top: -25px;
    text-decoration: line-through;
}

.btn-i-want{
    position: absolute;
    top: 60px;
    background-color: gold;
    border: 1px solid gold;
    color: #0047BB;
}

:where(.css-dev-only-do-not-override-1uq9j6g).ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover{
    background-color: #0047BB;
    border: 1px solid #0047BB;
    color: gold;
}

.input-search{
    width: 120%;
}

.slt-search{
    width: fit-content;
    background-color: #b4b4b4;
}

:where(.css-dev-only-do-not-override-1uq9j6g).ant-input-group .ant-input-affix-wrapper:not(:last-child) {
    border-start-start-radius: 30px;
    border-end-start-radius: 30px;
}

:where(.css-dev-only-do-not-override-1uq9j6g).ant-input-group .ant-input-group-addon .ant-select{
    border-end-end-radius: 50%;
    border-start-end-radius: 50%;
}

:where(.css-dev-only-do-not-override-1uq9j6g).ant-input-group .ant-input-group-addon .ant-select.ant-select-single:not(.ant-select-customize-input):not(.ant-pagination-size-changer) .ant-select-selector, :where(.css-dev-only-do-not-override-1uq9j6g).ant-input-group-wrapper-outlined .ant-input-group-addon:last-child{
    border-radius: 0 25px 25px 0;
}

.ant-card-cover{
    padding: 10px 10px 20px 10px;
}

.list-products{
    height: 600px;
    overflow: auto;
    scrollbar-color: transparent;
    top: 20px;  
    margin-left: 20px;
}

::-webkit-scrollbar{
    display: none;
}

.more-sold{
    margin-top: 50px;
    text-align: center;
    height: 550px;
    overflow: hidden;
    width: 95%;
    margin-left: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

button.slick-arrow.slick-prev::after, button.slick-arrow.slick-prev,
button.slick-arrow.slick-next::after, button.slick-arrow.slick-next{
    color: black;
    width: 20px;
    padding: 10px;
    font-weight: bold;
}

button.slick-arrow.slick-prev, button.slick-arrow.slick-next{
    padding: 20PX;
    border-radius: 50%;
    
}

button.slick-arrow.slick-prev::after, button.slick-arrow.slick-prev{
    margin-left: -8px;
}

button.slick-arrow.slick-next::after, button.slick-arrow.slick-next{
    margin-right: -30px;
}


@media (max-width:768px){
    .main-category {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .list-of-products{
        margin: 0;
    }
    .search{
        margin-left: 0;
    }
    .group-products{
        width: 100%;
    }
    .content-product{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
}