.navbar{
  width: 100%;
  display: flex;
  align-items: center;
  height: 60px;
  padding: 10px;
  background-color: #0047BB;
}

.logo{
  margin-left: 5vw;
}

.group-btn-access{
  width: 100%;
  position: absolute;
  right: 17vw;
  display: flex;
  align-items: center;
  justify-content: end;
  column-gap: 15px;
}

.btn-create-account, .btn-login{
  width: 100px;
  height: 40px;
}

.btn-create-account{
  background-color: gold;
  border: 1px solid gold;
  color: #0047BB;
  
}

.btn-login{
  background-color: transparent;
  border: none;
  color: gold;
}

.icon-cart{
  color: #0047BB;
  background-color: white;
  border-radius: 50%;
  padding: 5px;
  height: 30px;
  width: 30px;
}

:where(.css-dev-only-do-not-override-1uq9j6g).ant-menu-light.ant-menu-horizontal >.ant-menu-item-selected:hover::after{
  border-bottom-color: transparent;
}

.first-item-list:active, .item-list:active{
  color: #0047BB;
}

.first-item-list{
  margin-left: 5vw;
  position: relative;
}

:where(.css-dev-only-do-not-override-1uq9j6g).ant-menu-light.ant-menu-horizontal >.ant-menu-item-selected::after, :where(.css-dev-only-do-not-override-1uq9j6g).ant-menu-light>.ant-menu.ant-menu-horizontal >.ant-menu-item-selected::after, :where(.css-dev-only-do-not-override-1uq9j6g).ant-menu-light.ant-menu-horizontal >.ant-menu-submenu-selected::after, :where(.css-dev-only-do-not-override-1uq9j6g).ant-menu-light>.ant-menu.ant-menu-horizontal >.ant-menu-submenu-selected::after{
  border-bottom-color: transparent;
}

.ant-menu-title-content{
 color: black;
}

.circle-buy{
  position: absolute;
  border-radius: 50%;
  background-color: #D2AE00;
  width: 250px;
  height: 250px;
  text-align: center;
  right: -100px;
  top: -110px;
  box-shadow: 0 0 25px #494444;
}

.buy-credit, .buy-credit2{
  color: white;
  margin-top: 150px;
  margin-right: 20px;
  rotate: 45deg;
}

.buy-credit2{
  font-size: 25px;
  margin-top: -25px;
  margin-right: 60px;
}

@media (max-width: 768px){
  .circle-buy{
    display: none;
  }
  .group-btn-access{
    right: 1%;
  }
  .logo{
    margin-left: -1%;
  }
}



